<!DOCTYPE html>
<html>
  <head>
    <title>Ingrese el enlace del video</title>
  </head>
  <body>
    <h2>Ingrese el archivo del juego</h2>

    <form
      *ngIf="!isSuccessful"
      name="form"
      (ngSubmit)="f.form.valid && onSubmit()"
      #f="ngForm"
      novalidate
    >
      <label for="team">Nombre del equipo:</label>
      <input
        type="text"
        class="form-control"
        name="team"
        [(ngModel)]="form.team"
        required
        minlength="3"
      />
      <br />
      <label for="zip">Zip:</label>
      <input
        type="file"
        accept=".zip"
        class="form-control"
        name="zip"
        [(ngModel)]="form.url"
        required
      />
      <br /><br />
      <button class="btn btn-primary btn-block">Upload</button>
    </form>

    <div class="alert alert-success" *ngIf="isSuccessful">
      Upload successful!
    </div>
  </body>
</html>
