<!DOCTYPE html>
<html>
  <head>
    <title>Link video</title>
  </head>
  <body>
      <h2>Ingrese el enlace del video</h2>

      <form
        *ngIf="!isSuccessful"
        name="form"
        (ngSubmit)="f.form.valid && onSubmit()"
        #f="ngForm"
        novalidate
      >
        <label for="enlace">Enlace:</label>
        <input
          type="text"
          class="form-control"
          name="url"
          [(ngModel)]="form.url"
          required
          minlength="10"
          maxlength="100"
          pattern="^[0-9a-zA-Z@#$%&*.!?]+$"
          #url="ngModel"
        />
        <br /><br />
        <button class="btn btn-primary btn-block" width:10px>Upload</button>
      </form>
      <div class="alert alert-success" *ngIf="isSuccessful">
        Upload successful!
      </div>
  </body>
</html>
